.hero {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 40px;
    background: linear-gradient(145deg, #8190bd, #8781da);
}

.hero::before {
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    background: linear-gradient(145deg, #ffffff, #d3d3d3);
    border-radius: 15px;
    z-index: -1;
    filter: blur(10px);
}

.hero:hover {
    transform: rotateY(10deg); 
}




.about {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 40px;
    background: linear-gradient(145deg, #d3d3d3, #ffffff);
}

.about::before {
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    background: linear-gradient(145deg, #ffffff, #d3d3d3);
    border-radius: 15px;
    z-index: -1;
    filter: blur(10px);
}

.about:hover {
    transform: rotateY(10deg); 
}

.about h2 {
    font-size: 2.25rem; 
    font-weight: bold;
    margin-bottom: 2rem; 
    font-family: 'Roboto', sans-serif; 
}

.about p {
    font-size: 1.125rem; 
    max-width: 36rem; 
    margin: 0 auto; 
    font-family: 'Roboto', sans-serif; 
}


.skills {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 40px;
    margin-bottom: 40px;
    background: linear-gradient(145deg, #d3d3d3, #ffffff);
}

.skills::before {
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    background: linear-gradient(145deg, #ffffff, #d3d3d3);
    border-radius: 15px;
    z-index: -1;
    filter: blur(10px);
}
.skills:hover {
    transform: rotateY(10deg); 
}




        
        .dark {
            background-color: #1f2937;
            color: #e5e7eb;
        }

        .dark nav {
            background-color: #111827;
        }

        .dark nav a {
            color: #f3f4f6;
        }

        .dark nav a:hover {
            color: #d1d5db;
        }

        .dark section.hero {
            background-color: #111827;
            color: #f3f4f6;
        }

        .dark section#projects {
            background-color: #1f2937;
            color: #e5e7eb;
        }

        .dark footer {
            background-color: #5475bd;
            color: #ccd4e2;
        }

        .hero {
            padding-top: 10rem;
           
            padding-bottom: 10rem;
           
            background-color: rgb(178, 209, 240);
        }

        .hero img {
            width: 200px;
           
            height: 200px;
           
            display: block;
            
            margin: -138px auto 1.5rem;
           
            border-radius: 50%;
           
            overflow: hidden;
           
        }

       
.skills {
    padding-top: 20px;
    padding-bottom: 20px;
}

.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding:15px;
  
}


.skills h2 {
    font-size: 1.5rem; 
    font-weight: bold;
    margin-bottom: 1rem;
    text-align: center;
}


.grid {
    display:grid;
}

.grid-cols-5 {
    grid-template-columns: repeat(5, 1fr); 
    gap: 20px; 
}


.skill-item {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    background-size: cover;
    background-position: center;
    text-align: center;
}

.skill-item h3 {
    font-size: 1.1rem; 
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.skill-item p {
    font-size: 0.9rem; 
    margin: 0; 
}

.skill-1 {
    background-image: url('./images/Dotnet.png'); 
    background-size: cover;
    background-position: center;
    color: #ffffff; 
    text-align: center;
    padding: 50px;
}

.skill-2 {
    background-image: url('./images/c#img.png'); 
    background-size: cover;
    background-position: center;
    color: #ffffff; 
    text-align: center;
    padding: 50px;
}

.skill-3 {
    background-image: url('./images/html-5.png'); 
    background-size: cover;
    background-position: center;
    color: #ffffff; 
    text-align: center;
    padding: 50px;
}

.skill-4 {
    background-image: url('./images/css.png'); 
    background-size: cover;
    background-position: center;
    color: #ffffff; 
    text-align: center;
    padding: 50px;
}

.skill-5 {
    background-image: url('./images/js2.png'); 
    background-size: cover;
    background-position: center;
    color: #ffffff; 
    text-align: center;
    padding: 50px;
}



.skill-6 {
    background-image: url('./images/sql2.png'); 
    background-size: cover;
    background-position: center;
    color: #ffffff;
    text-align: center;
    padding: 50px;
}

.skill-7 {
    background-image: url('./images/c#img.png'); 
    background-size: cover;
    background-position: center;
    color: #ffffff; 
    text-align: center;
    padding: 50px;
}

.skill-8 {
    background-image: url('./images/dockerimg.png'); 
    background-size: cover;
    background-position: center;
    color: #ffffff; 
    text-align: center;
    padding: 50px;
}

.skill-9 {
    background-image: url('./images/micro.png'); 
    background-size: cover;
    background-position: center;
    color: #ffffff;
    text-align: center;
    padding: 50px;
}

.skill-10 {
    background-image: url('./images/mysql2.png'); 
    background-size: cover;
    background-position: center;
    color: #ffffff; 
    text-align: center;
    padding: 50px;
}

.skill-11 {
    background-image: url('./images/Postman.avif');
    background-size: cover;
    background-position: center;
    color: #ffffff; 
    text-align: center;
    padding: 50px;
}

.skill-12 {
    background-image: url('./images/azureimg.png');
    background-size: cover;
    background-position: center;
    color: #ffffff;
    text-align: center;
    padding: 50px;
}

.skill-13{
    background-image: url('./images/eclipse.png'); 
    background-size: cover;
    background-position: center;
    color: #ffffff;
    text-align: center;
    padding: 50px;
}

.skill-14 {
    background-image: url('./images/VS.png'); 
    background-size: cover;
    background-position: center;
    color: #ffffff;
    text-align: center;
    padding: 50px;
}

.skill-15 {
    background-image: url('.images/Angular.jpg'); 
    background-size: cover;
    background-position: center;
    color: #ffffff; 
    text-align: center;
    padding: 50px;
}


@media (max-width: 768px) {
    .grid-cols-3 {
        grid-template-columns: repeat(3, 1fr); 
    }

    .skill-item {
        padding: 20px; 
        height: 100px;
    }
}

/*--------------skill   */
#experience-container {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 40px;
    background: linear-gradient(145deg, #d3d3d3, #ffffff);
}

#experience-container::before {
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    background: linear-gradient(145deg, #ffffff, #d3d3d3);
    border-radius: 15px;
    z-index: -1;
    filter: blur(10px);
}

.experience-container {
    padding: 20px;
}



.certificate-image {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-top: 20px;
}

.experience-container h2 {
    font-size: 2.25rem; 
    font-weight: bold;
    margin-bottom: 2rem; 
}

.experience-text,
.experience-text1 {
    font-size: 1.125rem;
    margin-bottom: 1rem;
}

#experience-container:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}



 
/*------------------*/

#projects {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    background-color: #f3f4f6;
    padding: 40px; 
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 40px;
}  


#projects .border {
    transition: transform 0.3s;
}

#projects .border:hover {
    transform: translateY(-5px); 
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); 
}

#projects .border .h-24 {
    transition: background-color 0.3s; 
}

#projects .border:hover .h-24 {
    background-color: rgba(0, 0, 0, 0.2); 
}

#projects h3 {
    transition: color 0.3s; 
}

#projects .border:hover h3 {
    color: white;
}

#projects .flex {
    transition: opacity 0.3s;
}

#projects .border:hover .flex {
    opacity: 1; 
}  


#projects {
    position: relative;
    overflow: hidden;
}
#projects:hover {
    transform: rotateY(10deg); 
}

#projects::before {
    content: '';
    position: absolute;
    top: -10%;
    left: -10%;
    width: 120%;
    height: 120%;
    background: linear-gradient(45deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.5) 50%, rgba(255,255,255,0) 100%);
    transition: all 0.3s ease;
    z-index: -1;
}

#projects:hover::before {
    top: -20%;
    left: -20%;
    width: 140%;
    height: 140%;
}


      
        @media (max-width: 768px) {
            .text-xl {
                font-size: 1.5rem;
              
            }

            .hero {
                padding: 10rem 2rem;
               
            }

            .about {
                padding: 8rem 2rem;
                
            }

            .projects {
                padding: 8rem 2rem;
               
              
            }
            

            .contact {
                padding: 8rem 2rem;
               
            }

           
            .menu-toggle {
                display: block;
               
            }

            .menu {
                display: none;
                
            }

            .menu.active {
                display: block;
               
            }

            .grid-cols-3 {
                grid-template-columns: repeat(3, 1fr);
            }
        
            .projects {
                padding: 8rem 2rem;
               
            }

            
        }

        .contact {
            position: relative;
            width: 100%;
            max-width: 800px; 
            margin: 0 auto;
            background-color: #f3f4f6;
            padding: 40px;
            border-radius: 10px;
            text-align: center;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
            margin-top: 40px;
            margin-bottom: 40px; 
        }
        .contact:hover {
            transform: rotateY(10deg); 
        }

       
.contact-container {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    overflow: hidden; 
}


.contact-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #ff0000, #ff8000, #ffff00, #00ff00, #0000ff, #8000ff, #ff00ff); /* Add colorful gradient */
    transition: transform 0.5s ease;
    z-index: -1; 
}

.contact-container:hover::before {
    transform: rotate(20deg) scale(1.2); 
}

        
       
@media (max-width: 768px) {
    body {
        padding-left: 20px; 
        padding-right: 20px;
    }
}

#darkModeToggle svg {
    display: none;
}
.dark-mode-text {
    color:black;
}

.navbar.dark-mode {
    background-color: #4b07b8; 
    color: #333; 
}


@media (min-width: 768px) {
    .light-mode-button {
        display: none;
    }
}

@media (min-width: 768px) {
    .close-button {
        display: none;
    }
}





#header {
    transition: top 0.3s; 
}

       
    @media (max-width: 768px) {
        .menu {
            position: absolute;
            top: 16px; 
            right: 0;
            background-color: #fff; 
            border: 1px solid #ccc;
            border-radius: 4px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
            z-index: 10;
        }
        .menu li {
            list-style: none;
        }
        .menu a {
            display: block;
            padding: 10px 20px;
            color: #333;
        }
        .menu a:hover {
            background-color: #f0f0f0; 
        }
    }


    #pr1{
        background-image: url('./images/groceryimg.png');
        background-size: cover;
        background-position: center;
        color: blue; 
    }

    #pr2{
        background-image: url('./images/Calculator.png');
        background-size: cover;
        background-position: center;
        color: blue; 
    }

    #pr3{
        background-image: url('./images/Empty1.png.png');
        background-size: cover;
        background-position: center;
        color: blue; 
    }

    #pr4{
        background-image: url('./images/Calculator.png');
        background-size: cover;
        background-position: center;
        color: blue; 
    }

#pr5{
        background-image: url('./images/groceryimg.png');
        background-size: cover;
        background-position: center;
        color: blue; 
    }


   #pr6{
        background-image: url('./images/groceryimg.png');
        background-size: cover;
        background-position: center;
        color: blue; 
    }

 #pr7{
        background-image: url('./images/Empty7.png');
        background-size: cover;
        background-position: center;
        color: blue; 
    }

 #pr8{
        background-image: url('./images/Empty8.png');
        background-size: cover;
        background-position: center;
        color: blue; 
    }


    .text-lg,
.md-text-xl,
.lg-text-2xl {
  font-family: 'Roboto', sans-serif;
}

.right-content {
    display: flex;
    align-items: center;
}

.right-content h1 {
    margin-right: 10px; 
}

.social-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px; 
}







    
